<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
    body{
        background-image: url(https://images.unsplash.com/photo-1511439664149-58b346f60448?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
        background-position: center top;
        background-size: 100% auto;
    }
    </style>

    </head>
    <body data-spy="scroll" data-target=".scrollspy" >
        <header></header>
        <!-- Static navbar-->
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="https://www.premierleague.com/resources/ver/i/elements/premier-league-logo-header.svg" alt="logo" style="height:80px">English Premier League Database</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/playerSearch">Search Player</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/teamSearch">Search Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/matchSearch">Search Match</a>
                </li>
              </ul>
              <!-- Show user-->
              <div ng-controller="userInfoController">
                  <a class="badge badge-secondary" href="/auth/login" ng-model="user">{{user}}</a>
                  <a class="badge badge-secondary" href="/auth/logout" ng-hide="visible">Log out</a>
                </div>
            </div>
          </nav>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
            <div class="jumbotron">

         <div ng-controller="matchSearchController">

           <select ng-model="matchSeason" ng-options=" x.season for x in seasons">
             <option value="">Please Select Season</option>
           </select>

        <p style="padding: 2em;"><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>
            <button type="button" ng-click="Submit()" class="button">Show Match</button>
        </p>
        <table border="0" cellpadding="10" cellspacing="1" width="500" align="center">
            <tr>
            <td> Season</td>
            <td> Stage </td>
            <td> Date </td>
            <td> Home Team </td>
            <td> Home Team Goal </td>
            <td> Away Team </td>
            <td> Away Team Goal </td>
            <tr ng-repeat="x in matchSearch">
            <td> <a href="" ng-click="goMatch(x)" ng-controller="matchSearchToMatchController">{{x.id}}</a>  </td>
            <td> {{x.season}} </td>
            <td> {{x.stage}} </td>
            <td> {{x.date}} </td>
            <td> {{x.home_team}} </td>
            <td> {{x.home_team_goal}} </td>
            <td> {{x.away_team}} </td>
            <td> {{x.away_team_goal}} </td>
        </tr>
        </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
