<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/home"><img src="https://www.premierleague.com/resources/ver/i/elements/premier-league-logo-header.svg" alt="logo" style="height:80px">English Premier League Database</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playerSearch">Search Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teamSearch">Search Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/matchSearch">Search Match</a>
        </li>
      </ul>
      <!-- Show user-->
      <div ng-controller="userInfoController">
        <a class="badge badge-secondary" href="/auth/login" ng-model="user">{{user}}</a>
      </div>
    </div>
</nav>