<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>  
        <script src="/../javascripts/Chart.bundle.js" type="text/javascript"></script> 
        <script src="/../javascripts/angular-chart.js" type="text/javascript"></script>     

        <script src="/../javascripts/app.js" type="text/javascript"></script>
        <style>
        body{
            background-image: url(https://images.unsplash.com/photo-1511439664149-58b346f60448?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
            background-position: center top;
            background-size: 100% auto;
        }
        td.red { background-color: rgb(255, 153, 153); }
        td.yellow { background-color:rgb(255, 255, 96); }
        td.green { background-color: rgb(112, 255, 112); }
        </style>

    </head>
    <body data-spy="scroll" data-target=".scrollspy"  >
        <header></header>
        <!-- Static navbar-->
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/home"><img src="https://www.premierleague.com/resources/ver/i/elements/premier-league-logo-header.svg" alt="logo" style="height:80px">English Premier League Database</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExample02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/playerSearch">Search Player</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/teamSearch">Search Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/matchSearch">Search Match</a>
                </li>
              </ul>
              <!-- Show user-->
              <div ng-controller="userInfoController">
                <a class="badge badge-secondary" href="/auth/login" ng-model="user">{{user}}</a>
                <a class="badge badge-secondary" href="/auth/logout" ng-hide="visible">Log out</a>
              </div>
            </div>
          </nav>

        <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
            <div class="jumbotron" align="center">
            
            

          <div ng-controller="PlayerProfileController" ng-init="Submit()">
            <p ng-repeat="x in data" style="padding: 1em; font-size:200%;">{{x.name}} <img ng-src="{{x.photo}}" height="48px"> </p>

                    <table class="table table-striped" border="0" cellpadding="10" cellspacing="1" width="500" align="center">
                        <tr>
                        <th> Preferred Position </th>
                        <th> Age </th>
                        <tr ng-repeat="x in data"> 
                        <td> {{x.preferposition}} </td>
                        <td> {{x.age}} </td>


                        <tr>
                        <th> Nationality</th>
                        <th> Club </th>
                        <tr ng-repeat="x in data">
                        <td> {{x.nationality}}  <img ng-src="{{x.flag}}" height="30px"> </td>
                        <td> {{x.club}}  <img ng-src="{{x.clublogo}}" height="30px"> </td>

                        <tr>
                        <th> Overall </th>
                        <th> Wage </th>
                        <tr ng-repeat="x in data">
                        <td ng-class="{green: x.overall >=90, yellow: x.overall >=80, red:x.overall<80 }"> {{x.overall}} </td>
                        <td> €{{x.wage}} </td>
                        
                        <tr>
                        <th> Acceleration</th>
                        <th> Aggression</th>
                        <tr ng-repeat="x in data">
                          <td ng-class="{green: x.Acceleration >=90, yellow: x.Acceleration >=80, red:x.Acceleration<80 }"> {{x.Acceleration}} </td>
                          <td ng-class="{green: x.Aggression >=90, yellow: x.Aggression >=80, red:x.Aggression<80 }"> {{x.Aggression}} </td>

                        <tr>
                        <th> Agility</th>
                        <th> Balance</th>
                        <tr ng-repeat="x in data">
                          <td ng-class="{green: x.Agility >=90, yellow: x.Agility >=80, red:x.Agility<80 }"> {{x.Agility}} </td>
                          <td ng-class="{green: x.Balance >=90, yellow: x.Balance >=80, red:x.Balance<80 }"> {{x.Balance}} </td>

                        <tr>
                        <th> Crossing</th>
                        <th> Curve</th>
                        <tr ng-repeat="x in data">
                          <td ng-class="{green: x.Crossing >=90, yellow: x.Crossing >=80, red:x.Crossing<80 }"> {{x.Crossing}} </td>
                          <td ng-class="{green: x.Curve >=90, yellow: x.Curve >=80, red:x.Curve<80 }"> {{x.Curve}} </td>
                        
                        <tr>
                        <th> Dribbling</th>
                        <th> Finishing</th>
                        <tr ng-repeat="x in data">
                          <td ng-class="{green: x.Dribbling >=90, yellow: x.Dribbling >=80, red:x.Dribbling<80 }"> {{x.Dribbling}} </td>
                          <td ng-class="{green: x.Finishing >=90, yellow: x.Finishing >=80, red:x.Finishing<80 }"> {{x.Finishing}} </td>

                        <tr>
                        <th> Free Kick Accuracy</th>
                        <th> Heading Accuracy</th>
                        <tr ng-repeat="x in data">
                          <td ng-class="{green: x.Free_kick_accuracy >=90, yellow: x.Free_kick_accuracy >=80, red:x.Free_kick_accuracy<80 }"> {{x.Free_kick_accuracy}} </td>
                          <td ng-class="{green: x.Heading_accuracy >=90, yellow: x.Heading_accuracy >=80, red:x.Heading_accuracy<80 }"> {{x.Heading_accuracy}} </td>

                        <tr>
                        <th> Interceptions</th>
                        <th> Jumping</th>
                        <tr ng-repeat="x in data">
                          <td ng-class="{green: x.Interceptions >=90, yellow: x.Interceptions >=80, red:x.Interceptions<80 }"> {{x.Interceptions}} </td>
                          <td ng-class="{green: x.Jumping >=90, yellow: x.Jumping >=80, red:x.Jumping<80 }"> {{x.Jumping}} </td>

                    </tr>
                    </table>
                    </div>
        </div>
        <div ng-controller="RadarCtrl">
          <canvas id="radar" class="chart chart-radar" width="400" height="200"
          chart-data="data" chart-options="options" chart-labels="labels">
          </canvas> 
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>

