<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="/javascripts/Chart.bundle.js" type="text/javascript"></script>
        <script src="/javascripts/angular-chart.js" type="text/javascript"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
    body{
        background-image: url(https://images.unsplash.com/photo-1511439664149-58b346f60448?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
        background-position: center top;
        background-size: 100% auto;
    }
    </style>

    </head>
    <body data-spy="scroll" data-target=".scrollspy" >
        <header></header>
        <!-- Static navbar-->
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img src="https://www.premierleague.com/resources/ver/i/elements/premier-league-logo-header.svg" alt="logo" style="height:80px">English Premier League Database</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" ng-controller="userInfoController" ng-show="showDash">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/playerSearch">Search Player</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/teamSearch">Search Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/matchSearch">Search Match</a>
                </li>
              </ul>
              <!-- Show user-->
              <div ng-controller="userInfoController">
                  <a class="badge badge-secondary" href="/auth/login" ng-model="user">{{user}}</a>
                  <a class="badge badge-secondary" href="/auth/logout" ng-hide="visible">Log out</a>
                </div>
            </div>
          </nav>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
            <!-- <div class="jumbotron"> -->

         <div ng-controller="playerController">

           <select ng-model="playerNationality" ng-options=" x.nationality for x in nationalities" class="custom-select">
             <option value="">Select Nationality</option>
           </select>

           <select ng-model="playerAge"  class="custom-select">
             <option value="">Select Age</option>
             <option value="0"> Under 20 </option>
             <option value="1"> 21 - 24 </option>
             <option value="2"> 25 - 28 </option>
             <option value="3"> Above 29 </option>
            </select>

            <select ng-model="playerClub" ng-options=" x.club for x in clubs"  class="custom-select">
              <option value="">Select Club</option>
            </select>

            <select ng-model="playerOverall"  class="custom-select">
              <option value="">Select Overall Ability</option>
              <option value="0"> Under 70 </option>
              <option value="1"> 70 - 79 </option>
              <option value="2"> 80 - 89 </option>
              <option value="3"> 90 - 100 </option>
             </select>


        <!--<p style="padding: 2em;"><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span>-->
              <button type="button" ng-click="Submit()" class="btn btn-success">Search Player</button>
        <!-- </p> -->
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="My Player!" data-hashtags="CIS550" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <table border="0" cellpadding="10" cellspacing="1" width="500" align="center" class="table table-striped table-dark">
            <thead>
            <tr>
            <th style="text-align:center"> Photo</th>
            <th style="text-align:center"> Name</th>
            <th style="text-align:center"> Team </th>
            <th style="text-align:center"> Age </th>
            <th style="text-align:center"> Nationality </th>
            <th style="text-align:center"> Position </th>
            <th style="text-align:center"> Overall </th>
            <th style="text-align:center"> Follow </th>
          </thead>

            <tr ng-repeat="x in playerSearch">
            <td><img style="display:block;" width="80%" height="80%" src={{x.photo}} class="img-fluid" alt="Responsive image" onerror="this.src='https://kicentral.com/thumbor/VvKksxGuYGQ-skWjbsxvosnu9gM=/48x48/filters:round_corner(20,255,255,255)/https%3A%2F%2Fkicentral.com%2Fmisc%2Fdefaultavatar.png'"/> </td>
            <td class="align-middle" style="text-align:center"> <a href="" ng-click="goPlayer(x)" ng-controller="playerSearchToPlayerProfileController">{{x.name}}</a>  </td>
            <td class="align-middle" style="text-align:center"> {{x.club}} </td>
            <td class="align-middle" style="text-align:center"> {{x.age}} </td>
            <td class="align-middle" style="text-align:center"> {{x.nationality}} </td>
            <td class="align-middle" style="text-align:center"> {{x.preferposition}} </td>
            <td class="align-middle" style="text-align:center"> {{x.overall}} </td>
            <td class="align-middle" style="text-align:center"> <button type="button" class="btn btn-secondary" ng-click="addPlayer(x)" ng-controller="addPlayerController">Add </button></td>
        </tr>
        </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
